.padding8-top {
  padding-top: 8px;
}
.padding-top {
  padding-top: 1%;
}
.padding-horizontal {
  padding-left: 16px;
}
.width-100 {
  width: 100%;
}
.bold {
  font-weight: bold;
}
.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}
.padding32-top {
  padding-top: 32px;
}
